<h1>アメリカ<h1>
<% @posts.each do |t| %>
    <% if t.category == "america" %>  
    <p>内容:<%= t.content %></p>
    <% end %>

<% end %>
<%= link_to "サンフランシスコ", posts_sf_path %>
<%= link_to "ニューヨーク", posts_ny_path %>